@charset "utf-8";
/* CSS Document */
body
{
	

background-color:#663366;
}
table
{
position:relative;
top:auto;
}

#egg {
    width: 25px;
    height:40px;
    background: #ffc000;
    display: block;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	position:relative;
	left:140px;
	-webkit-animation-name:egg;
	-webkit-animation-delay:2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration:4s;
	
}
@keyframes egg
{ from { top:0px;}
to{top:65px;}
}
#plane
{
	position:relative;
	left:120px;
	bottom:200px;
	-webkit-animation-name:flight;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:4s;
	
}
@keyframes flight {from {left:0px;}
to {left:680px;}
}
#rocket
{
position:relative;
botton:100px;
left:80px;
width:40px;
height:100px;
-webkit-animation-name: fly;
-webkit-animation-iteration-count:infinite;
-webkit-animation-duration:2s;
}
@keyframes fly{
from {bottom:0px;}
to{ bottom:500px;}
}
#rocket1
{
position:relative;
botton:100px;
left:700px;
width:40px;
height:100px;
-webkit-animation-name: fly1;
-webkit-animation-iteration-count:infinite;
-webkit-animation-duration:4s;
}
@keyframes fly1{
from {bottom:0px;}
to{ bottom:500px;}
}
#witch {
    position: relative;
	bottom:400px;
	left:500px;
	-webkit-animation-name:move;
    -webkit-animation-duration:5s; 
    -webkit-animation-play-state:running ;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:reverse;
}
@keyframes move
{
from {left:-10px;}
to {left:700px;}
}